.page-content {
  background-color: white;
  padding-top: 2rem;
  text-align: center;
  min-height: 72vh;

  .grid {
    margin-top: 2rem;
  }
  .promo-header {
    margin-bottom: 2rem;
    font-size: 1.75em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    flex-direction: column;
  }
  .item {
    max-width: 450px;
    margin: 0 auto 4rem auto;
  }
  .item__image {
    margin: 15px auto;
  }

  h3 {
    color: #f7d57f;
  }
}

@media (min-width: 990px) {
  .page-content {
    text-align: left;
    padding: 10vh 0 18vh 0;

    .promo-header {
      margin-bottom: 4rem;
      text-align: center;
      max-width: 100%;
    }

    .row {
      flex-direction: row;
    }
  }
}
