.contact__form {
  margin-bottom: 2rem;

  input,
  textarea {
    background-color: #f7d57f;
    border-radius: 0;
  }

  input:focus,
  textarea:focus {
    background-color: #f7d57f99;
    border-color: #555;
    box-shadow: none;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: solid 2px rgba(0, 0, 0, 0.377);
    -webkit-box-shadow: 0 0 0px 1000px #f7d57f inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  textarea {
    resize: none;
  }
  button {
    width: 100%;
    background-color: #333;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
  }

  .text-danger {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }
}
