header {
  background-color: #333;
  padding-bottom: 1rem;
}

.navbar {
  margin-bottom: 8px;

  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 8px;
  }
  .nav-brand {
    margin-right: 20px;
    font-size: 1.35rem;
    color: #f7d57f;
  }
  .nav-link {
    color: #fff !important;
    font-weight: bold;
    margin: auto 20px;
  }
  .active > .nav-link {
    color: #f7d57f !important;
  }
}

.call-action {
  background: #f7d57f;
  font-size: 0.92rem;
  height: 2.5rem;
  padding: 0.5rem 40px;
  font-weight: bold;

  a {
    color: #000000ca;
  }
}

@media (max-width: 340px) {
  .navbar {
    .navbar-toggler-icon {
      height: 1em;
      width: 1em;
    }
    .nav-brand {
      font-size: 1.29rem;
    }
  }
}

@media (min-width: 990px) {
  header {
    display: flex;
    background-color: #00000000;
  }
  .call-action {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

@media (max-width: 1160px) {
  .container {
    max-width: 100%;
  }
  .nav-link {
    margin: auto 10px !important;
  }
}
