body {
  box-sizing: content-box;
  background-color: #333;
  overflow-x: hidden;
}

.page {
  -webkit-animation: fadein 500ms ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 500ms ease-in; /* Firefox < 16 */
  -ms-animation: fadein 500ms ease-in; /* Internet Explorer */
  -o-animation: fadein 500ms ease-in; /* Opera < 12.1 */
  animation: fadein 500ms ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
